
html, body {
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    font-family: 'pixel', sans-serif;
}

canvas {
    background-color: #000000;
}

img {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
sub {}
